# Python
venv/
__pycache__/
*.pyc

# Node/Next
node_modules/
.next/
.vercel/
dist/
.turbo/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Mac
.DS_Store
